---
import Vendedora from '../../images/vendedora-ropa.png'
import Perro from '../../images/perro-perdido.jpg'
import Mueble from '../../images/mueble-peluqueria.png'
import Electricista from '../../images/electricista.jpg'
import Camaras from '../../images/camaras-seguridad.jpg'
import Aniversario from '../../images/aniversario-mercado.png'
import Seguridad from '../../images/seguridad.png'
import Limpieza from '../../images/personal-limpieza.jpg'

import "../styles/ServiciosPg.css";
---

<section class="seccion-servicios align-items-center">
    <div class="container">
        <div class="row">
            <div class="py-2 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="card mx-auto" style="width: 18rem;">
                    <img src={Vendedora.src} class="card-img-top img-servicio" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title
                            and make up the bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-success"><i class="bi bi-whatsapp"></i></a>
                    </div>
                </div>
            </div>

            <div class="py-2 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="card mx-auto" style="width: 18rem;">
                    <img src={Perro.src} class="card-img-top img-servicio" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title
                            and make up the bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-success"><i class="bi bi-whatsapp"></i></a>
                    </div>
                </div>
            </div>

            <div class="py-2 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="card mx-auto" style="width: 18rem;">
                    <img src={Mueble.src} class="card-img-top img-servicio" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title
                            and make up the bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-success"><i class="bi bi-whatsapp"></i></a>
                    </div>
                </div>
            </div>

            <div class="py-2 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="card mx-auto" style="width: 18rem;">
                    <img src={Electricista.src} class="card-img-top img-servicio" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title
                            and make up the bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-success"><i class="bi bi-whatsapp"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="py-2 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="card mx-auto" style="width: 18rem;">
                    <img src={Camaras.src} class="card-img-top img-servicio" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title
                            and make up the bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-success"><i class="bi bi-whatsapp"></i></a>
                    </div>
                </div>
            </div>

            <div class="py-2 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="card mx-auto" style="width: 18rem;">
                    <img src={Aniversario.src} class="card-img-top img-servicio" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title
                            and make up the bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-success"><i class="bi bi-whatsapp"></i></a>
                    </div>
                </div>
            </div>

            <div class="py-2 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="card mx-auto" style="width: 18rem;">
                    <img src={Seguridad.src} class="card-img-top img-servicio" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title
                            and make up the bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-success"><i class="bi bi-whatsapp"></i></a>
                    </div>
                </div>
            </div>

            <div class="py-2 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="card mx-auto" style="width: 18rem;">
                    <img src={Limpieza.src} class="card-img-top img-servicio" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title
                            and make up the bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-success"><i class="bi bi-whatsapp"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
