---
import Agentes from '../../images/agentes-bancarios.png'
import Verduras from '../../images/verduras.jpg'
import Frutas from '../../images/frutas.jpg'
import CarnesRojas from '../../images/carnes-rojas.jpg'
import Pollos from '../../images/pollos.png'
import Pescados from '../../images/puesto-pescados.jpg'
import Abarrotes from '../../images/puesto-abarrotes.jpg'
import Librerias from '../../images/puesto-libreria.jpg'
import Peluquerias from '../../images/puesto-peluqueria.jpg'
import Juguerias from '../../images/jugueria.png'
import Zapatos from '../../images/puesto-zapatos.jpg'
import Zapaterias from '../../images/zapateria.png'
import Parrillas from '../../images/parillas.jpg'
import Costuras from '../../images/costuras.jpg'
import Juguetes from '../../images/juguetes.png'
import Ropas from '../../images/puesto-ropa.jpg'
import Tecnologia from '../../images/tecnologia.jpg'
import Restaurantes from '../../images/restaurantes.png'
import Dulcerias from '../../images/dulcerias.jpg'
import Otros from '../../images/otros.jpg'




import "../styles/ServiciosPg.css";
---

<section class="seccion-servicios align-items-center">
    <div class="container">
        <div class="row">
            <div class="py-2 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="card mx-auto carta-servicios" style="width: 18rem;">
                    <img src={Agentes.src} class="card-img-top img-servicio" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">AGENTES</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title
                            and make up the bulk of the card's content.
                        </p>
                        <a href="/servicios/costuras" class="btn btn-warning">Ir</a>
                    </div>
                </div>
            </div>

            <div class="py-2 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="card mx-auto carta-servicios" style="width: 18rem;">
                    <img src={Verduras.src} class="card-img-top img-servicio" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">VERDURAS</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title
                            and make up the bulk of the card's content.
                        </p>
                        <a href="/servicios/costuras" class="btn btn-warning">Ir</a>
                    </div>
                </div>
            </div>

            <div class="py-2 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="card mx-auto carta-servicios" style="width: 18rem;">
                    <img src={Frutas.src} class="card-img-top img-servicio" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">FRUTAS</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title
                            and make up the bulk of the card's content.
                        </p>
                        <a href="/servicios/costuras" class="btn btn-warning">Ir</a>
                    </div>
                </div>
            </div>

            <div class="py-2 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="card mx-auto carta-servicios" style="width: 18rem;">
                    <img src={CarnesRojas.src} class="card-img-top img-servicio" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">CARNES ROJAS</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title
                            and make up the bulk of the card's content.
                        </p>
                        <a href="/servicios/costuras" class="btn btn-warning">Ir</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="py-2 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="card mx-auto carta-servicios" style="width: 18rem;">
                    <img src={Pollos.src} class="card-img-top img-servicio" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">POLLOS</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title
                            and make up the bulk of the card's content.
                        </p>
                        <a href="/servicios/costuras" class="btn btn-warning">Ir</a>
                    </div>
                </div>
            </div>

            <div class="py-2 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="card mx-auto carta-servicios" style="width: 18rem;">
                    <img src={Pescados.src} class="card-img-top img-servicio" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">PESCADOS</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title
                            and make up the bulk of the card's content.
                        </p>
                        <a href="/servicios/costuras" class="btn btn-warning">Ir</a>
                    </div>
                </div>
            </div>

            <div class="py-2 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="card mx-auto carta-servicios" style="width: 18rem;">
                    <img src={Abarrotes.src} class="card-img-top img-servicio" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">ABARROTES</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title
                            and make up the bulk of the card's content.
                        </p>
                        <a href="/servicios/costuras" class="btn btn-warning">Ir</a>
                    </div>
                </div>
            </div>

            <div class="py-2 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="card mx-auto carta-servicios" style="width: 18rem;">
                    <img src={Librerias.src} class="card-img-top img-servicio" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">LIBRERIAS</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title
                            and make up the bulk of the card's content.
                        </p>
                        <a href="/servicios/costuras" class="btn btn-warning">Ir</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="py-2 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="card mx-auto carta-servicios" style="width: 18rem;">
                    <img src={Peluquerias.src} class="card-img-top img-servicio" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">PELUQUERÍAS</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title
                            and make up the bulk of the card's content.
                        </p>
                        <a href="/servicios/costuras" class="btn btn-warning">Ir</a>
                    </div>
                </div>
            </div>

            <div class="py-2 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="card mx-auto carta-servicios" style="width: 18rem;">
                    <img src={Juguerias.src} class="card-img-top img-servicio" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">JUGUERÍAS</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title
                            and make up the bulk of the card's content.
                        </p>
                        <a href="/servicios/costuras" class="btn btn-warning">Ir</a>
                    </div>
                </div>
            </div>

            <div class="py-2 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="card mx-auto carta-servicios" style="width: 18rem;">
                    <img src={Zapatos.src} class="card-img-top img-servicio" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">ZAPATOS</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title
                            and make up the bulk of the card's content.
                        </p>
                        <a href="/servicios/costuras" class="btn btn-warning">Ir</a>
                    </div>
                </div>
            </div>

            <div class="py-2 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="card mx-auto carta-servicios" style="width: 18rem;">
                    <img src={Zapaterias.src} class="card-img-top img-servicio" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">ZAPATERÍAS</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title
                            and make up the bulk of the card's content.
                        </p>
                        <a href="/servicios/costuras" class="btn btn-warning">Ir</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="py-2 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="card mx-auto carta-servicios" style="width: 18rem;">
                    <img src={Parrillas.src} class="card-img-top img-servicio" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">PARRILAS</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title
                            and make up the bulk of the card's content.
                        </p>
                        <a href="/servicios/costuras" class="btn btn-warning">Ir</a>
                    </div>
                </div>
            </div>

            <div class="py-2 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="card mx-auto carta-servicios" style="width: 18rem;">
                    <img src={Costuras.src} class="card-img-top img-servicio" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">COSTURAS</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title
                            and make up the bulk of the card's content.
                        </p>
                        <a href="/servicios/costuras" class="btn btn-warning">Ir</a>
                    </div>
                </div>
            </div>

            <div class="py-2 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="card mx-auto carta-servicios" style="width: 18rem;">
                    <img src={Juguetes.src} class="card-img-top img-servicio" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">JUGUETES</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title
                            and make up the bulk of the card's content.
                        </p>
                        <a href="/servicios/costuras" class="btn btn-warning">Ir</a>
                    </div>
                </div>
            </div>

            <div class="py-2 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="card mx-auto carta-servicios" style="width: 18rem;">
                    <img src={Ropas.src} class="card-img-top img-servicio" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">ROPAS</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title
                            and make up the bulk of the card's content.
                        </p>
                        <a href="/servicios/costuras" class="btn btn-warning">Ir</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="py-2 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="card mx-auto carta-servicios" style="width: 18rem;">
                    <img src={Tecnologia.src} class="card-img-top img-servicio" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">TECNOLOGÍAS</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title
                            and make up the bulk of the card's content.
                        </p>
                        <a href="/servicios/costuras" class="btn btn-warning">Ir</a>
                    </div>
                </div>
            </div>

            <div class="py-2 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="card mx-auto carta-servicios" style="width: 18rem;">
                    <img src={Restaurantes.src} class="card-img-top img-servicio" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">RESTAURANTES</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title
                            and make up the bulk of the card's content.
                        </p>
                        <a href="/servicios/costuras" class="btn btn-warning">Ir</a>
                    </div>
                </div>
            </div>

            <div class="py-2 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="card mx-auto carta-servicios" style="width: 18rem;">
                    <img src={Dulcerias.src} class="card-img-top img-servicio" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">DULCERÍAS</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title
                            and make up the bulk of the card's content.
                        </p>
                        <a href="/servicios/costuras" class="btn btn-warning">Ir</a>
                    </div>
                </div>
            </div>

            <div class="py-2 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="card mx-auto carta-servicios" style="width: 18rem;">
                    <img src={Otros.src} class="card-img-top img-servicio" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">OTROS</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title
                            and make up the bulk of the card's content.
                        </p>
                        <a href="/servicios/costuras" class="btn btn-warning">Ir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
